<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Diet Plan | sign-up</title>
    <link rel = "icon" href = "static/Image/Logo/logo.png" type = "image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="header">
        <!-- All contain of the header -->
        <div class="allCont">

            <!-- Top Bar contant -->
            <div class="topBar">
                <!-- logo image --> 
                <div class="logo">
                    <img src="static/Image/Logo/logo.png" width="85px">
                </div>

                <!-- btns -->
                <nav>
                    <ul>
                        <li><a id="home" href="/">Home</a></li>
                        {% if user.is_authenticated %}
                        <li><a id="YourPlan" href="/YourPlan">YourPlan</a></li>
                        <li><a id="logout" href="/logout">LogOut</a></li>
                        {% else %}
                        <li><a id="login" href="/login">Login</a></li>
                        <li><a id="signup" href="/sign-up">SignUp</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            <!-- error message -->
            <div class="error-info">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error'%}
                            <div class="alert">
                                {{ message }}
                                <span aria-hidden="true" class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            </div>
                         {% else %}
                            <div class="alert-true">
                                {{ message }}
                                <span aria-hidden="true" class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!--  -->
            <!-- img and txt -->
           
    
    <div class="reg">
        <form method="POST">
            <h3>create account</h3>
            <div class="form-group">
                <label for="email">E-mali</label><br/>
                <input type="email"
                 id="email"
                 name="email"
                 placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="firstName">Name</label><br/>
                <input type="text"
                 id="firstName"
                 name="firstName"
                 placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label for="password1">Password</label><br/>
                <input type="password"
                 id="Password1"
                 name="Password1"
                 placeholder="Enter Password">
            </div>
            <div class="form-group">
                <label for="password2">Password (Confirm)</label><br/>
                <input type="password"
                 id="Password2"
                 name="Password2"
                 placeholder="(Confirm) Password">
            </div>
    
            <br/>
    
            <button type="submit">Sign Up</button>
            
        </form>
</div>
    
    
<div class="r">
    <h3>&nbsp;</h3>
    <!--   -->

        </div>
    </div>

    
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Contact us:</h3>
                    <p>E-mail: dietplan276@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <!----  -->

</body>


</html>
